In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!sudo apt install tesseract-ocr
!pip install pytesseract

Reading package lists... Done
Building dependency tree
Reading state information... Done
tesseract-ocr is already the newest version (4.00~git2288-10f4998a-2).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pytesseract in /usr/local/lib/python3.7/dist-packages (0.3.9)
Requirement already satisfied: Pillow>=8.0.0 in /usr/local/lib/python3.7/dist-packages (from pytesseract) (9.2.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from pytesseract) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->pytesseract) (3.0.9)

In [3]:
import numpy as np
import pytesseract
from PIL import Image
import pandas as pd

In [4]:
path = '/content/un_speckle (2).png'

sample = pytesseract.image_to_data(path, output_type='data.frame')
sample

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text
0,1,1,0,0,0,0,0,0,794,1123,-1,NaN
1,2,1,1,0,0,0,365,19,51,21,-1,NaN
2,3,1,1,1,0,0,365,19,51,21,-1,NaN
3,4,1,1,1,1,0,365,19,51,21,-1,NaN
4,5,1,1,1,1,1,365,19,51,21,5,>
...,...,...,...,...,...,...,...,...,...,...,...,...
371,4,1,47,1,1,0,51,1102,684,10,-1,NaN
372,5,1,47,1,1,1,51,1102,21,10,30,Pag.
373,5,1,47,1,1,2,76,1102,4,8,30,1
374,5,1,47,1,1,3,85,1102,17,8,56,di2
375,5,1,47,1,1,4,683,1102,52,8,0,â€˜7iozr2022

In [5]:
# sample[100:150]

In [6]:
# sample.to_csv('1.csv', index=False)

In [7]:
text = pytesseract.image_to_string(Image.open('un_speckle (2).png'))
print(text)

>

EUROCORPORATION



PER AUTISTA PER UFFICIO























â€˜AUTOTAPPEZZERIA BENACCI S.N.C. DI MICHELE E â€˜AUTOTAPPEZZERIA BENACCI S.N.C. DI MICHEL
ee MATTEO BENACCI ao E MATTEO BENACCI
Unit. Loc. FIRENZE - VIA LIVORNO 8/50 Operatore Matilde De Martino - Mob. 346 7841762
Referente | MICHELE BENACCI CFProduttore | 06601660480
Telefono 348 7215986 Email Cliente __ | info@autotappezzeriabenacci.it
Data Richiesta 17/02/2022 | Orario richiesta 08:30 Email Produttore | michele@autotappezzeriabenacci.it
am
Mattina [Dalle 08:30 [Alle PER LA LOGISTICA:
Pomeriggio | Dalle Alle 18:00 CCHIAMARE UN GIORNO PRIMA PER CONFERMA DATA E ORARIO

MEZZO SCARRABILINO O SPONDA 4 PP -> CARICA IL CLENTE
RICHIESTO PER LUNEDi 21.02.2022 0 MARTEDi 22.02.2022
https://www.google.com/maps/@43.7712392,11.1954905,3a,75y
,314.18h,75.22t/data=!3m6!1e1!3m4!
â€˜Ls4hSRjkpxpkWzieâ‚¬2hNtxwg!2e0!7i1638418i8192

Tipologia rifluto

CER DESCRIZIONE SF â€˜ADR









040222 Rifiuti da fibre tessililavorate Solido non pulverulento



Classe Pericolo: Destino: [R13
Confezionamento: | 10 SACCHI
DestinazionÂ« EUROCORPORATION









150106 Imballaggi misti Solido non pulverulento









Classe Pericolo: Destino: [R13
Confezionamento: | 5/6 SACCHI
DestinazionÂ« EUROCORPORATION



















EUROCORPORATION 5... CF. - Piva 05235640488 .E.A. 521452 Captale Sociale â‚¬ 100,000,000
Via deâ€™ Cottani 178 - 50145 Firenze | Tel. 055 7222419 Fax 055 7227520
Info@eurecorporationit | info@pec.eurocorporation.t | www.eurecorporationit

Pag. 1 di2 â€˜7iozr2022